<%= form_for form, as: :list, url: lists_url, method: :post, html: {class: "form"} do |f| %>
  <h1 class="form-title">Nueva lista</h1>

  <%= form_group f, :name,
    label: "Nombre del evento",
    control_options: {placeholder: "Ejemplo: Boda Gustavo y Caro"} %>

  <%= form_group f, :event_date,
    field_method: :date_field,
    label: "La fecha del evento" %>

  <%= f.button "Crear lista", class: "btn btn--md btn--blue" %>
<% end %>
