<p>Hola!</p>

<p>
Te mandamos este correo, porque los organizadores de tu evento crearon tu acceso
para que empieces a llenar tu lista de invitados en Invita.app.
</p>

<p>
Nosotros junto con tus organizadores, buscamos darte una mejor experiencia al
crear tu lista de invitados. Ahora para continuar regístrate como usuario con
el correo que diste a tus organizadores.
</p>


<%= link_to "Registrarme, para ir a mi lista de invitados", new_registration_url %>
