<p>Hola <%= @user.first_name %></p>

<p>Te enviamos este correo de parte de Simple Guest List, porque solicitaste las
instrucciones para recuperar tu contrase単a.</p>

<p>Lo que necesitas hacer es crear una nueva contrase単a, visitando el siguiente link y llenando la forma que aparece con la nueva contrase単a.</p>

<%= link_to "Cambiar contrase単a", edit_password_url(@token) %>

<p>Nota: Si tu no solicitaste estas instrucciones o ya no las necesitas, has caso omiso a este correo.</p>

<p>
Saludos
<br/>Simple Guest List
</p>
