<p>
Algunos nos comentaron que no encontraban la opción para recuperar
contraseña. Bueno, era porque aún no lo habíamos desarrollado.
</p>

<p>
Pero ya existe!! así que si eres de los/las que olvidan sus contraseñas como
nosotros. Pues ya no tendrás ningún problema.
</p>

<h2>¿Como funciona?</h2>

<p>
Si olvidaste tu contraseña solo ve a "Iniciar Sesión" y después da click en
"¿Olvidaste tu contraseña?", ingresa tu correo electrónico y recibirás un
correo con un link para cambiar tu contraseña.
</p>

<%= article_image(article, "screenshot1.png") %>
<%= article_image(article, "screenshot2.png") %>
<%= article_image(article, "screenshot3.png") %>

<br/>
<p>Y es todo por ahora =) ...  esperamos les sea de utilidad!</p>
