<p>
Hasta el día de ayer, si seleccionabas un grupo para filtrar tus invitaciones y después
ejecutabas una acción sobre la lista como confirmar la entrega de una invitación o agregar
una nueva invitación, el filtro se quitaba y se mostraban de nuevo todas la invitaciones.
</p>

<p>
Notamos que esto no es necesariamente lo más funcional, porque cuando filtras
las invitaciones por grupo lo que buscas normalmente es realizar acciones sobre ese grupo,
como confirmar entrega, hacer confirmaciones de asistencia o agregar más
invitados, todo a ese grupo.
</p>

<p>
Por eso ahora hicimos un cambio para que al seleccionar un grupo para
filtrar las invitaciones, esta selección permanezca hasta que remuevas el
filtro explícitamente. Es decir que ahora podrás seleccionar el grupo y después,
agregar más invitados, confirmar entregas, confirmar asistencia, editar o borrar
invitaciones, todo sobre el grupo seleccionado.
</p>

<p>Aquí un pequeño video de ejemplo.</p>

<%= article_video(article, "keep-filter-full.mov") %>

<p>Esperamos que les sea útil =)</p>
