<p>
Cuando tu lista empieza a crecer y continuas agregando invitados, algunas veces
quieres estar seguro que no agregaste ya esa invitación. También cuando entregaste
una invitación y la quieres marcar como entregada, sería muy útil tener una
manera de buscar rápidamente a la persona a la que le entregaste la invitación.
</p>

<p>
¡Pues ya no tienes que esperar más! Hemos agregado a tu lista un campo de búsqueda
en el que podrás escribir el nombre, correo, título de la invitación (o algo que contenga
cualquiera de estos elementos) y el Simple Guest List te filtrará los resultados.
</p>

<p>
¡Creemos que esto puede ser muy útil al crear tu lista! Aquí dejamos un video
con un pequeño ejemplo de como lo puedes usar.
</p>

<%= article_video(article, "search.mov") %>

