<p>
Casi siempre tienes tu celular a la mano y es probable que mientras estas fuera
de tu computadora recuerdes a una persona que querías invitar o tal vez viste a algún
amigo o amiga y te confirmo su asistencia y quisieras modificar tu lista con tu celular.
</p>

<p>
La verdad es que ya lo podías hacer anteriormente, pero no era muy amigable que digamos,
porque veías la página como si estuvieras en la computadora.
</p>

<p>
Ahora hemos terminado una modificación para que puedas tener una mejor manejo de tu lista
desde el celular. Aún hay varios detalles que seguiremos trabajando, pero creemos que
esta actualización te ayudará mucho a hacer tus actualizaciones más rápido.
</p>

<p>
Esperámos que te sea de utilidad.
</p>

<%= article_video(article, "mobile.mov") %>

