<%= content_for :title, article[:title] %>

<div class="pitch">
  <h1 class="pitch__title"><%= article[:title] %></h1>

  <%= render file: "articles/#{article[:id]}", locals: {article: article} %>

  <h1 class="pitch__title">¿Aún no has creado tu lista?</h1>

  <div class="pitch__btn-box">
    <%= link_to "Crear mi lista de invitados", new_registration_path, class: "btn btn--lg btn--blue" %>
  </div>
</div>
