<%= form_for form, as: :list, url: list_name_url(list_id), method: :patch, html: {class: "form"} do |f| %>
  <h1 class="form-title">Editar nombre de lista</h1>
  <%= form_group f, :name,
    label: "Nombre de la lista de invitados",
    control_options: {placeholder: "Ejemplo: Nuestra boda"} %>
  <%= f.button "Actualizar", class: "btn btn--md btn--blue" %>
<% end %>
