<div class="pitch">
  <h1 class="pitch__title">Herramienta para crear y confirmar la lista de invitados para tu evento.</h1>

  <p class="text-center">Si estas aquí es porque tu organizador de eventos te invitó a usar
  Invita.app para que sea más fácil para ti crear la lista de invitados para tu
  evento.</p>

  <p class="text-center">Regístrate para empezar llenar tu lista =)</p>

  <div class="pitch__btn-box">
    <%= link_to "Registrarme", new_registration_path, class: "btn btn--lg btn--blue" %>
  </div>
