<div class="pitch">
  <h1 class="f1-ns mw7 lh-title tc center mt5 mb3">¿Clientes frustrados con su lista de invitados?</h1>
  <p class="f4-ns mw7 mb4 tc center lh-copy">
  Da una mejor experiencia a tus clientes con una mejor herramienta para crear
  su lista de invitados para su evento.
  </p>

  <div class="pitch__btn-box">
    <%= link_to "Quiero probar la herramienta", new_registration_path, class: "f4-ns f5 btn btn--lg btn--blue" %>
  </div>

  <div class="f4-ns mw7 lh-copy bt b--light-gray mt5-ns mt4 pt4 center">
    <p class="mb4">
    Sabemos que hacer la lista de invitados para un evento no es tan fácil, son
    muchas cosas las que hay que tomar en cuenta... ¡Como para que aparte la
    computadora empeore la situación!
    </p>

    <p class="mb4">
    Muy probablemente tu trates de ayudar a tus clientes con posibles técnicas
    y los proveeas de  herramientas que pueden usar para facilitar el proceso,
    pero no son muchas las opciones...
    </p>

    <p class="mb4">
    Normalmente usamos herramientas que fueron hechas para calculos financieros,
    como excel, googlesheets, o alguna otra hoja de cálculo...
    </p>

    <p class="mb4">
    O usamos herramientas que nos dan los sitios de bodas, que en realidad son
    herramientas de publicidad para vender espacios a proveedores.
    </p>

    <p class="mb4">
    Entonces tenemos clientes que con problemas como...
    </p>

    <ul class="list pl3">
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 red fa fa-times-circle"></span> Listas perdidas o duplicadas.</li>
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 red fa fa-times-circle"></span> Problemas al confirmar porque la lista esta en base a personas y no invitaciones.</li>
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 red fa fa-times-circle"></span> Páginas web lentas, que te hacen preferir escribir la lista en papel.</li>
    </ul>

    <p class="mb4">
    ¿No sería ideal que nuestros clientes usaran <span class="fw6">una herramienta creada especialmente para ayudarlos en esta tarea</span>?
    Que los ayudara a:
    </p>

    <ul class="list pl3">
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 blue fa fa-question-circle"></span> Compartir una lista única.</li>
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 blue fa fa-question-circle"></span> Ser eficientes registrando información.</li>
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 blue fa fa-question-circle"></span> Tener control de entrega de invitaciones.</li>
      <li class="mv3 lh-copy flex"><span class="mt2 mr2 blue fa fa-question-circle"></span> Tener control de confirmaciones por invitación y no solo por persona.</li>
    </ul>

    <p class="mb4">
    ¡Nosotros creemos que sí! Creemos que tus clientes merecen algo mejor. Por eso creamos Invita.app.
    </p>

    <p class="mb4">
    Invita.app es una aplicación web diseñada especialmente para ayudar a tus
    clientes a enfocarse en sus invitados y no en combatir herramientas creadas
    para otros propositos...
    </p>

    <p class="mb4">
    Invita.app ayuda a tus clientes a:
    </p>

    <ul class="list pl3">
      <li class="mv3 lh-copy flex">
        <span class="mt2 mr2 green fa fa-check-circle"></span>
        <div>
          <span class="fw6">Editar una sola lista</span>
          <p class="mv2">
          Tu podras crear listas y darles acceso a tus clientes y a las
          personas que ellos necesiten como ayuda.
          </p>
        </div>
      </li>
      <li class="mv3 lh-copy flex">
        <span class="mt2 mr2 green fa fa-check-circle"></span>
        <div>
          <span class="fw6">Registrar y editar invitados de forma eficiente</span>
          <p class="mv2">
          Tus clientes tendrán una pantalla diseñada especialmente para
          introducir invitaciones con sus invitados.
          </p>
          <p class="mv2">
          Podran llenar toda la lista sin dar un click al ratón y clasificar directamente
          a los invitados por grupos.
          </p>
        </div>
      </li>
      <li class="mv3 lh-copy flex">
        <span class="mt2 mr2 green fa fa-check-circle"></span>
        <div>
          <span class="fw6">Llevar el control de la entrega de invitaciones</span>
          <p class="mv2">
          Tus clientes verán a sus invitados agrupados por invitación, y podrán
          ver la cuenta de invitaciones entregadas y las que faltan de
          entregar, lo que hace la visualización más fácil que las herramientas
          que solo enlistan a los invitados.
          </p>
        </div>
      </li>
      <li class="mv3 lh-copy flex">
        <span class="mt2 mr2 green fa fa-check-circle"></span>
        <div>
          <span class="fw6">Llevar el control de confirmaciones por invitación</span>
          <p class="mv2">
          Tus clientes van a poder registrar las confirmaciones por invitación,
          por lo que podran ver el total de confirmados por invitación, así
          como total general y por grupos.
          </p>
        </div>
      </li>
    </ul>

    <p class="mb4 tc">
    ¿Qué opinas? ¿Crees que vale la pena darles una mejor experiencia a tus clientes?
    ¿Te interesa probar la herramienta?
    </p>

    <div class="pitch__btn-box">
      <%= link_to "Quiero probar la herramienta", new_registration_path, class: "f4-ns f5 btn btn--lg btn--blue" %>
    </div>
  </div>
</div>
