
<div class="pitch">
  <h1 class="pitch__title">¿Necesitas ayuda?</h1>

  <p style="text-align: center">Visita nuestra sitio en facebook y escribenos por inbox tu pregunta</p>

  <div class="pitch__btn-box">
    <%= link_to "Visitar página en facebook", "https://www.facebook.com/simpleguestlist/", target: "_blank", class: "btn btn--lg" %>
  </div>
</div>
