<%= form_for form, as: :invitation, url: list_invitation_path(list_id, invitation_id, group: params[:group]),
   method: :patch, html: {class: "form js-invitation-form"} do |f| %>
    <h1 class="form-title">Editar invitación</h1>
    <%= render "form_fields", f: f, groups: groups %>
    <%= f.button "Actualizar", class: "btn btn--md btn--blue" %>
    <%= link_to "Cancelar", list_path(list_id, group: params[:group]), method: :get, class: "btn btn--md" %>
<% end %>
