<%= form_for invitation_form, as: :invitation, url: list_invitations_path(list_id, group: params[:group]), method: :post,
  remote: true, html: {class: "form js-invitation-form"} do |f| %>
  <h1 class="form-title">Agregar invitación</h1>
  <%= render "invitations/form_fields", f: f, groups: groups %>
  <%= f.button "Agregar", class: "btn btn--md btn--blue" %>
  <%= link_to "Cancelar", list_path(list_id, group: params[:group]), method: :get, class: "btn btn--md" %>
<% end %>
