$red: #e65d4f;
$blue: #3498db;
$green: #1abc9c;
$gray: gray;

.alert {
  line-height: 1.2em;
  margin: 1em auto 2em;
  border: 1px solid;
  padding: 10px;

}

.alert--contained {
  max-width: 600px;
}

.alert--error {
  border-color: $red;
  color: $red;
  border-radius: 3px;
  box-shadow: 5px 5px 0px lighten($red, 20%);
}

.alert--success {
  border-color: $green;
  color: $green;
  border-radius: 3px;
  box-shadow: 5px 5px 0px lighten($green, 20%);
}

.alert--info {
  border-color: $blue;
  color: $blue;
  border-radius: 3px;
  box-shadow: 5px 5px 0px lighten($blue, 20%);
}

.alert--default {
  border-color: $gray;
  color: $gray;
  border-radius: 3px;
  box-shadow: 5px 5px 0px lighten($gray, 20%);
}
