.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  padding: 0.5em;

  a:not(.btn) {
    color: #3498db;
    text-decoration: none;
  }

  input::placeholder {
    color: #cccccc;
  }


  h1 {
    @media (max-width: 768px) {
      font-size: 1.4em;
    }
  }
}
