.lists {
  line-height: 1.6em;
  max-width: 650px;
  margin: auto;
}

.lists__title {
  text-align: center;
  line-height: 1.2em;
  margin-top: 3em;
}

.lists__btn-box {
  text-align: center;
  margin-bottom: 3em;
}

.lists__list-link {
  font-size: 1.3em;
  margin-bottom: 1em;
  display: block;
}

.lists__list-date {
  font-size: 0.7em;
  color: #aaa;
}
