.list {
  line-height: 1.3em;
  max-width: 1200px;
  margin: auto;

  .table {
    font-size: 0.9em;
    margin: auto;
  }
}

.list__title {
  text-align: center;
  line-height: 1.2em;
  margin-top: 3em;
}
