.list {
  line-height: 1.3em;
  max-width: 100%;
  margin: auto;
}

.list__header {
  @media (min-width: 768px) {
    display: -webkit-flex;
    display: flex;
    margin-top: 2em
  }
}

.list__stats-and-filters {
  @media (min-width: 768px) {
    margin-top: 0.75em;
    margin-left: 2.5em;
    min-width: 1020px;
  }
}

h1.list__title {
  text-align: left;
  line-height: 1.2em;
  margin: 1em 0 2em;
  font-size: 1.2em;
  min-width: 300px;

  .btn {
    font-size: 11.88px;
    margin-bottom: 2px;
    position: relative;
    bottom: 2px;
  }
}

.list__container {
  @media (min-width: 768px) {
    display: -webkit-flex;
    display: flex;
  }
}

.list__form {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-right: 2em;

    .form-title {
      text-align: left;
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 1.2em
    }

    .form {
      width: 270px;
    }
  }
}

.list__table {
  font-size: 0.9em;

  .list__table-container {
    width: 100%;
    overflow-x: scroll;
    border: 1px solid #eee;
    margin-top: 2em;
    margin-bottom: 5em;
  }

  .table {
    margin: 0;
    width: 100%;
  }

  @media (min-width: 768px) {
    flex-basis: 100%;

    .list__table-container {
      min-width: 1070px;
      border: none;
      margin: 0;
    }
  }
}

.list__filter, .list__search {
  position: relative;

  .form {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    display: inline-block;
    float: right;
    margin-left: 1em;

    .form {
      width: 250px;
    }
  }
}

.list__search {
  @media (min-width: 768px) {
    .form {
      width: 230px;
    }
  }
}

.list__search-spinner {
  position: absolute;
  top: 2px;
  right: 2px;
}

.list__filter-remover {
  font-size: 80%;
  position: absolute;
  top: -25px;
  right: 0;
}

.list__stats-container {
  margin-bottom: 2em;

  @media (min-width: 768px) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.list__stats {
  font-size: 0.9em;
  margin-bottom: 10px;
  padding: 9px 10px;

  @media (min-width: 768px) {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
  }
}

.list__invitation-guests {
  color: #888;
}

.list__delivered-cell, .list__assistance-cell, .list__actions-cell {
  min-width: 100px;
  text-align: center;

  form {
    display: inline-block;
  }
}

.list__add-invitation-btn {
  bottom: 1em;

  @media (min-width: 768px) {
    bottom: 0;
    display: none;
  }
}
