.pitch {
  line-height: 1.6em;
  max-width: 650px;
  margin: auto;
}

.pitch__title {
  text-align: center;
  line-height: 1.2em;
  margin: 3em 0 1em;
}

.pitch__btn-box {
  text-align: center;
  margin: 1em 0 3em;
}
