.pitch {
  line-height: 1.6em;
  max-width: 650px;
  margin: auto;
}

.pitch__screenshot {
  max-width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin: 2em auto 1em;
  display: block;
}

.pitch__title {
  text-align: center;
  line-height: 1.2em;
  margin: 2em 0 1em;
}

.pitch__btn-box {
  text-align: center;
  margin: 1em 0 3em;
}

.pitch__unavailable-package {
  background: #eee;
}
