$control-height: 45px;
$control-font-size: 17.6px;

.selectize-control, .selectize-input {
  min-height: $control-height;
  font-size: $control-font-size !important;
  padding: 5px;
  height: auto;
}

.selectize-control {
  padding: 0;
  border: none;
}

.selectize-input {
  padding: 7px;

  .item, input {
    font-size: $control-font-size;
  }

  .item {
    padding: 7px !important;
  }

  input {
    padding: 3px !important;
  }
}

.selectize-control .selectize-input.disabled {
  background: #eee;
  cursor: not-allowed !important;
  opacity: 1;

  .item {
    color: rgb(84, 84, 84) !important;
    border-color: #ccc !important;
  }
}