.selectize-control {
  padding: 0;
  border: none;
}

.selectize-input {
  height: 45px;
  font-size: 17.6px;

  .item {
    padding: 7px !important;
    font-size: 17.6px;
  }

  input {
    padding: 3px !important;
    font-size: 17.6px !important;
  }
}